<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xht.cloud.generate.module.template.mapper.GenCodeGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xht.cloud.generate.module.template.domain.dataobject.GenCodeGroupDO">
        <result column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="group_desc" property="groupDesc" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id,
        group_name,
        group_desc
    </sql>

</mapper>
