<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xht.cloud.generate.module.column.mapper.GenTableColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xht.cloud.generate.module.column.domain.dataobject.GenTableColumnDO">
        <result column="id" property="id" />
        <result column="table_id" property="tableId" />
        <result column="table_schema" property="tableSchema" />
        <result column="table_name" property="tableName" />
        <result column="column_name" property="columnName" />
        <result column="column_length" property="columnLength" />
        <result column="column_code_name" property="columnCodeName" />
        <result column="column_comment" property="columnComment" />
        <result column="column_db_type" property="columnDbType" />
        <result column="column_java_type" property="columnJavaType" />
        <result column="column_ts_type" property="columnTsType" />
        <result column="column_example" property="columnExample" />
        <result column="column_pk" property="columnPk" />
        <result column="column_list" property="columnList" />
        <result column="column_save" property="columnSave" />
        <result column="column_update" property="columnUpdate" />
        <result column="column_query" property="columnQuery" />
        <result column="column_nullable" property="columnNullable" />
        <result column="column_dict" property="columnDict" />
        <result column="column_html" property="columnHtml" />
        <result column="column_sort" property="columnSort" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id,
        table_id,
        table_schema,
        table_name,
        column_name,
        column_length,
        column_code_name,
        column_comment,
        column_db_type,
        column_java_type,
        column_ts_type,
        column_example,
        column_pk,
        column_list,
        column_save,
        column_update,
        column_query,
        column_nullable,
        column_dict,
        column_html,
        column_sort,
        create_by,
        update_by,
        create_time,
        update_time
    </sql>

</mapper>
